
    /* Estilos CSS para el panel de administración */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7b801;
      background-image: linear-gradient(to right, #f7b801, #ffb703);
    }

    .header {
      background-color: #333;
      padding: 20px;
      color: #fff;
      text-align: center;
    }

    .titulo {
      font-size: 36px;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 4px;
    }

    .subtitulo {
      font-size: 18px;
      margin-top: 10px;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tabla-usuarios {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    .tabla-usuarios th,
    .tabla-usuarios td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }

    .tabla-usuarios th {
      background-color: #f7b801;
      color: #fff;
    }

    .formulario {
      margin-bottom: 20px;
    }

    .formulario label {
      display: block;
      margin-bottom: 5px;
      color: #333;
      font-weight: bold;
    }

    .formulario input[type="text"],
    .formulario input[type="email"],
    .formulario input[type="password"],
    .formulario textarea, 

    .formulario select {
      padding: 8px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .formulario input[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      font-size: 16px;
      display: inline-block;
    }

    .formulario input[type="submit"]:hover {
      background-color: #555;
    }

    .mensaje {
      padding: 10px;
      background-color: #f7b801;
      color: #fff;
      margin-bottom: 10px;
      border-radius: 4px;
    }

  .btn-secondary{ 
    background-color: #ccc !important;
    color: #333;
    border: 2px #333 solid;
  }
